:root {
    --font-title: "Cinzel Decorative", serif;
    --font-text: "Poppins", sans-serif;
    --font-navbar: "Staatliches", sans-serif;
    --font-other-text: "Lato", sans-serif;

    --color-dark-purple: #0F0B16;
    --color-light-purple: #430744;
    --color-light-wine: #730F3F;
    --color-light-wine-lighter: #8b315d;
    --color-bg-card-orange: #DE3A3B;
    --color-orange: #F07D3C;
    --color-yellow: #FAD962;
}

/* FORMATAÇÃO E ESTILIZAÇÃO DE ELEMENTOS NA PÁGINA */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    font-family: var(--font-text);
    background-color: var(--color-dark-purple);
}

h1 {
    font-family: var(--font-title);
    color: var(--color-yellow);
    text-align: center;
    font-size: 80px;
    z-index: 2;

}

h2 {
    font-family: var(--font-title);
    color: var(--color-yellow);
    text-align: center;
    font-size: 40px;
    z-index: 2;
}

h3 {
    font-family: var(--font-other-text);
    color: var(--color-yellow);
    font-size: 40;
    font-weight: bold;
    padding-left: 2vh;
}

h4 {
    font-family: var(--font-title);
    color: var(--color-orange);
    font-size: 60px;
    padding-left: 2vh;
}

h5 {
    font-family: var(--font-text);
    font-weight: bold;
    color: var(--color-orange);
    font-size: 30px;
}

h6 {
    font-family: var(--font-text);
    font-weight: bold;
    color: var(--color-yellow);
    font-size: 20px;
    text-align: center;
    padding: 5vh;
}

a {
    text-decoration: none;
}


span {
    color: var(--color-orange);
}

.yellow-span {
    color: var(--color-yellow);
}

/* FORMATAÇÃO E ESTILIZAÇÃO DE ELEMENTOS NA PÁGINA */


/* COMEÇO NAVBAR */
.navbar-style {
    background-color: var(--color-dark-purple);
    font-family: var(--font-navbar);
    font-size: 25px;
    align-content: center;
    padding-right: 20vh;


}

.nav-link {
    color: var(--color-yellow);



}

.navbar .nav-link:hover {
    color: #f8e291;
}

.navbar img {
    width: 60%;


}


/* FIM NAVBAR */



/* COMEÇO - CONTEÚDOS DA PÁGINAS  */



.content-page {
    background-color: var(--color-dark-purple);
}



.initial-page {

    margin: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./images/EoU_bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.initial-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(15, 11, 22, 0.5);
    backdrop-filter: brightness(40%);
    z-index: 1;
}




/* SOBRE O JOGO */

.about-game-title {
    padding-top: 2vh;

}

.about-game-elements {
    display: flex;
    align-items: center;
    align-content: center;


}

.about-game-text {


    margin-right: 5%;
    margin-left: 5%;
    line-height: 1.1;
    letter-spacing: -0.5px;
    text-align: justify;
    flex: 1;

}


/* CAROUSEL */
.carousel-geral {

    flex: 1;
    align-items: center;
    align-content: center;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    transition: .7s;





}

.carousel-geral:hover {
    filter: drop-shadow(var(--color-light-purple) 0 0 20px);
    transition: .3s;


}

.about-game-elements img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;

}

/* FIM CAROUSEL */

/* FIM SOBRE O JOGO */



/* COMEÇO PERSONAGEM JOGÁVEL E INIMIGOS */

.demonstration-title {
    padding-top: 2vh;
}

.cards {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    gap: 5vh;
    justify-content: center;




}

.card-body {
    background-color: var(--color-light-purple);

}

.card-text {
    color: var(--color-yellow);
    font-weight: bold;
}

.card-title {
    color: var(--color-orange);
    font-weight: bold;
    padding-bottom: 1vh;

}

.card {
    transition: .8s;
}

.card:hover {
    scale: 1.1;
    filter: drop-shadow(var(--color-light-purple) 0 0 20px);
    transition: .8s;

}


/* FIM PERSONAGEM JOGÁVEL E INIMIGOS */


/* COMEÇO DA SEÇÃO DE CONHEÇA A EQUIPE */

.meet-team-title {
    padding-top: 2vh;
}


.cards-team {
    margin: 0;
    display: flex;
    gap: 5vh;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 20vh;



}

.cards-team .card-body {
    background-color: var(--color-light-wine);
}

.cards-team .card:hover {
    filter: drop-shadow(var(--color-orange) 0 0 20px);
    scale: 1.0;
}

.team-role {
    font-size: 30px;
    font-family: var(--font-text);

}

.team-name {
    font-size: 35px;
    font-weight: bold;
    padding-top: 2vh;

}

.cards-team .card-text {
    color: white;
    text-align: center;
    padding-top: 2vh;
    filter: opacity(0.7);
}

.card a {
    background-color: var(--color-light-wine);
    padding-bottom: 2vh;
}

.card a img {

    display: block;
    margin: 0 auto;

}




/* FIM DA SEÇÃO DE CONHEÇA A EQUIPE  */


/* FIM CONTEÚDOS DA PÁGINA */

/* COMEÇO FOOTER */
.footer-style {
    background-color: var(--color-light-wine);
    border-radius: 10px;

}

hr {
    margin: 0;
    border-top: 2px solid var(--color-dark-purple);
}


.footer-title {
    color: var(--color-yellow);
    font-size: 30px;
    text-align: center;
}

.footer-text {
    color: var(--color-orange);
    font-size: 20px;
    filter: opacity(0.7);
    text-align: center;

}

.footer-container {

    margin: 0;
    display: flex;
    padding-left: 50%;
    padding-top: 5vh;
    gap: 15vh;

}

.footeritems {
    flex: 1;
    justify-content: center;

}

.footer-items h6 {
    padding-bottom: 10px;
}

.footer img {
    width: 60%;
    height: 60%;
    display: block;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin-left: -800px;
    transition: .7s;

}

.footer img:hover {

    filter: drop-shadow(var(--color-yellow) 0 0 5px);
    transition: .7s;

}

/* FIM FOOTER */